<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--  TODO: potom zmazat len kvoli autocomplete  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        textarea {
            resize: none;
        }
    </style>
</head>
<body class="text-white" style="background-color: #222222">
<div id="file">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{~/}"><i class="fa fa-arrow-left"></i></a>
                </li>
            </ul>
            <span class="ml-auto mr-2">
                <span><i class="fa fa-user mr-2"></i>{{ login }}</span>
            </span>
            <form method="post" id="form5" action="/logOut">
                <button class="btn btn-outline-light" type="submit">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </nav>
    <div class="container pt-3">
        <div class="row">
            <div class="col-6">
                <h6>Owner: {{ file[1] }} </h6>
                <h4>{{ file[0] }}</h4>
                <div class="d-block text-center my-3">
                    <i style="font-size: 10rem" class="fa fa-paper-plane"></i>
                </div>
                <div v-if="havePrivilege()" class="d-block text-center">
                    <a class="btn btn-dark mr-2" role="button"
                       th:href="@{~/download/crypted/{path}(path=${file[0]})}">Encrypted</a>
                    <a class="btn btn-light" role="button"
                       th:href="@{~/download/{path}(path=${file[0]})}">Decrypted</a>
                </div>
                <div class="form-group my-2">
                    <textarea v-model="comment" name="newComment" class="form-control" placeholder="Comment" rows="3"></textarea>
                </div>
                <button class="btn btn-dark pull-right" @click="addComment">Submit</button>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <p>Comments</p>
                    </div>
                </div>
                <div v-for="comment in comments" class="row border border-dark rounded mb-2">
                    <div class="col-3 text-center border-right border-dark py-1" style="word-break: break-all">
                        <i style="font-size: 1.5rem" class="fa fa-user"></i>
                        <i v-if="!comment[0].includes(login) && login === file[1] && !privileges.includes(comment[0])"
                           class="fa fa-plus text-success"
                           style="cursor: pointer"
                           @click="addPrivilege(comment[0])">
                        </i>
                        <!--           TODO: if user have privilege            -->
                        <i v-if="privileges.includes(comment[0]) && login === file[1]"
                           style="font-size: 1.5rem"
                           class="fa fa-check text-success">
                        </i>
                        <br>
                        <span>{{ comment[0] }}</span>
                    </div>
                    <div class="col-9 my-auto">{{ comment[1] }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://use.fontawesome.com/144775f3f4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    new Vue({
        el: '#file',
        data: {
            comments: [[${comments}]],
            file: [[${file}]],
            login: [[${login}]],
            users: [[${users}]],
            privileges: [[${privilegesOfFile}]],
            comment: ''
        },
        methods: {
            havePrivilege() {
                return this.privileges.includes(this.login) || this.file[1] === this.login;
            },
            addPrivilege(userName) {
                let form = document.createElement("form");
                let element1 = document.createElement("input");
                let element2 = document.createElement("input");
                let element3 = document.createElement("input");

                form.classList.add('d-none');
                form.method = 'post';
                form.action = '/files/skuska';
                element1.value = this.file[0];
                element1.name = 'fileName';
                element2.value = this.file[1];
                element2.name = 'owner';
                element3.value = userName;
                element3.name = 'newPrivileges';

                form.appendChild(element1);
                form.appendChild(element2);
                form.appendChild(element3);

                document.body.appendChild(form);
                form.submit();
            },
            addComment(){
                let form = document.createElement("form");
                let element1 = document.createElement("input");
                let element2 = document.createElement("input");

                form.classList.add('d-none');
                form.method = 'post';
                form.action = '/files/comment';
                element1.value = this.comment;
                element1.name = 'newComment';
                element2.value = this.file[0];
                element2.name = 'fileName';

                form.appendChild(element1);
                form.appendChild(element2);

                document.body.appendChild(form);
                form.submit();
            }
        }
    })
</script>
</body>
</html>