<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--  TODO: potom zmazat len kvoli autocomplete  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        textarea {
            resize: none;
        }
    </style>
</head>
<body class="text-white" style="background-color: #222222">
<div id="login" class="vh-100">
    <div class="container d-flex h-100 justify-content-center">
        <div class="card align-self-center text-center" style="background-color: #333333; max-width: 37vw; min-width: 37vw">
            <div class="card-body">
                <h5>Register</h5>
                <div class="row">
                    <div class="col-6">
                        <form class="form d-block" method="post" id="form4" action="/register">
                            <div class="input-group mb-2 mt-3">
                                <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-user"></i>
                        </span>
                                </div>
                                <input type="text"
                                       name="user"
                                       class="form-control"
                                       placeholder="Username"
                                       aria-label="Username"
                                       aria-describedby="basic-addon1"
                                       required>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">
                            <i class="fa fa-key"></i>
                        </span>
                                </div>
                                <input type="password"
                                       name="password"
                                       class="form-control"
                                       placeholder="Password"
                                       aria-label="Password"
                                       aria-describedby="basic-addon2"
                                       required>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">
                            <i class="fa fa-key"></i>
                        </span>
                                </div>
                                <input type="password"
                                       name="conFirmpassword"
                                       class="form-control"
                                       placeholder="Confirm password"
                                       aria-label="Password"
                                       aria-describedby="basic-addon3"
                                       required>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                <textarea rows="3" name="public_key" id="public_key" placeholder="Public key" class="form-control" aria-label="With textarea" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-block btn-secondary pull-right d-block">Sign up
                            </button>
                            <br><br>
                        </form>
                        <hr class="my-1">
                        <a href="/login" class="align-self-center"><small>Already have an Account?<br> Sign
                            in!</small></a>
                        <div v-if="loginBad">
                            <small class="text-danger">{{ loginBad }}</small>
                        </div>
                    </div>
                    <div class="col-6">
                        <form method="post" id="form2" action="/generate_key">
                            <input type="hidden" id="origin" name="origin" value="register">
                            <button class="btn btn-secondary btn-block mt-3" type="submit">Generate keys</button>
                        </form>
                        <div v-if="publicKey">
                            <span class="pull-left">Public key:</span>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                <textarea rows="3" placeholder="Public key" class="form-control" aria-label="With textarea" readonly>{{ publicKey.trim() }}</textarea>
                            </div>
                        </div>
                        <div v-if="privateKey">
                            <span class="pull-left">Private key:</span>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-unlock-alt"></i></span>
                                </div>
                                <textarea rows="3" placeholder="Private key" class="form-control" aria-label="With textarea" readonly>{{ privateKey.trim() }}</textarea>
                            </div>
                        </div>
                        <div v-if="privateKey">
                            <form method="post" id="form3" action="/generate_file">
                                <input type="hidden" id="public_key_download" name="public_key_download" v-model=publicKey>
                                <input type="hidden" id="private_key_download" name="private_key_download" v-model=privateKey>
                                <button type="submit" class="btn btn-secondary btn-block">Download keys!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="/login">Login</a>

<script src="https://use.fontawesome.com/144775f3f4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    new Vue({
        el: '#login',
        data: {
            loginBad: [[${loginBad}]],
            privateKey: [[${private_key}]],
            publicKey: [[${public_key}]],
        }
    })
</script>
</body>
</html>