<html xmlns:th="https://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body style="background: black; color: white">
<a href="/login">Login</a>
<a href="/register">Register</a>
<h1>Register</h1>
<form method="post" id="form4" action="/register">
    User: <br><input type="text" name="user" required/> <br>
    Password:<br><input type="password" name="password" autocomplete="off" required/> <br>
    Confirm Password:<br><input type="password" name="conFirmpassword" autocomplete="off" required/> <br>
    Public key:<br><textarea name="public_key" id="public_key" cols="30" rows="10" required></textarea><br><p>Delete all new-line characters from the end of entered key...</p>
    <input type="submit" value="Register!" />
</form>
<div th:if="${loginBad}">
    <h2 th:text="${loginBad}"/>
</div>
<form method="post" id="form2" action="/generate_key">
    <h3>Don't have public and private key? Generate them!</h3>
    <input type="hidden" id="origin" name="origin" value="register">
    <input type="submit" value="Generate keys!" />
</form>
<div th:if="${public_key}" style="max-width: 50%">
    <span>Public key:</span><p th:text="${public_key}" style="overflow: auto">
</div>
<div th:if="${private_key}" style="max-width: 50%">
    <span>Private key:</span><p th:text="${private_key}" style="overflow: auto">
</div>
<div th:if="${private_key}">
    <form method="post" id="form3" action="/generate_file">
        <p>You can download them as .txt file as well!</p>
        <input type="hidden" id="public_key_download" name="public_key_download" th:value="${public_key}">
        <input type="hidden" id="private_key_download" name="private_key_download" th:value="${private_key}">
        <input type="submit" value="Download keys!" />
    </form>
</div>
</body>
</html>