<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-white" style="background-color: #222222">
<div id="uploadForm">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <span class="ml-auto mr-2">
                <span>
                    <i class="fa fa-user mr-2"></i>
                    {{ login }}
                </span>
            </span>
            <form method="post" id="logout" action="/logOut">
                <button class="btn btn-outline-light" type="submit">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row mt-3">
            <div class="mx-auto w-50">
                <div v-if="!upload" class="input-group mb-3">
                    <div class="input-group-append">
                        <button class="btn rounded-left" :class="[filtered ? 'btn-light' : 'btn-dark']"
                                @click="filtered = !filtered">
                            <i class="fa fa-filter"></i>
                        </button>
                    </div>
                    <input v-model="search" type="text" class="form-control" placeholder="File & comments search">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="ml-auto">
                <button type="submit" class="btn btn-dark" @click="upload = !upload">
                    {{ upload ? 'To files' : 'Upload file' }}
                </button>
            </div>
        </div>
        <div v-if="!upload" class="row">
            <div class="col-12">
                <table class="table table-dark table-striped table-hover">
                    <tbody>
                    <tr v-for="file in filteredFiles" @click="toFile(file.fileName)" style="cursor: pointer">
                        <td class="text-center">
                            <i class="fa fa-file mx-auto"></i>
                        </td>
                        <td>{{file.fileName}}</td>
                        <td class="text-right">{{file.fileOwner}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-else class="row mt-2">
            <div class="col-6 border-right">
                <h4 class="mb-4">Upload your file</h4>
                <div class="col-12">
                    <div class="custom-file float-left mb-1">
                        <input type="file" name="file" class="custom-file-input" id="customFile"
                               @change="changeLabel"
                               required>
                        <label class="custom-file-label" for="customFile">{{ fileLabel }}</label>
                    </div>
                    <button class="btn btn-dark my-2" @click="uploadFile" :disabled="file === null">Upload</button>
                </div>
            </div>
            <div class="col-6">
                <h4>You can download desktop application to decrypt files on the go!</h4>
                <p><small>Run with command: java -jar filename.jar</small></p>
                <button class="btn btn-dark" @click="downloadApp">Download app!</button>
            </div>
        </div>
    </div>
</div>
<script src="https://use.fontawesome.com/144775f3f4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>
<script th:inline="javascript">
    new Vue({
        el: '#uploadForm',
        data: {
            login: [[${login}]],
            files: [[${files}]],
            nameOwnerSubOwner: [[${nameOwnerSubOwner}]],
            fileLabel: 'Choose file',
            file: null,
            search: '',
            upload: false,
            filtered: false
        },
        computed: {
            filteredFiles() {
                return this.files
                    ?
                    this.files.filter(file => (file.fileName.toLowerCase().includes(this.search.toLowerCase()) || this.containsComment(file.comments))
                        && (this.filtered ? file.fileOwner === this.login || file.allPrivileges.includes(this.login) : true)
                    )
                    : []
            }
        },
        methods: {
            containsComment(comments) {
                const result = comments.filter(comment => comment.toLowerCase().includes(this.search.toLowerCase()));
                return result.length > 0;
            },
            changeLabel($event) {
                this.file = $event.target.files[0];
                this.fileLabel = $event.target.files[0].name;
            },
            toFile(fileName) {
                window.location.href = 'files/' + fileName;
            },
            uploadFile() {
                if (this.file !== null) {
                    let form = document.createElement("form");
                    let fileInput = document.getElementById('customFile');
                    let element1 = document.createElement("input");
                    let element2 = document.createElement("input");
                    let element3 = document.createElement("input");
                    form.classList.add('d-none');
                    form.enctype = 'multipart/form-data';
                    form.method = 'post';
                    form.action = '/';
                    element2.name = 'owner';
                    element2.value = this.login;
                    element3.name = 'action';
                    element3.value = 'encrypt-rsa';

                    form.appendChild(fileInput);
                    form.appendChild(element1);
                    form.appendChild(element2);
                    form.appendChild(element3);

                    document.body.appendChild(form);
                    form.submit();
                }
            },
            downloadApp() {
                let form = document.createElement("form");
                form.classList.add('d-none');
                form.method = 'post';
                form.action = '/download';
                document.body.appendChild(form);
                form.submit();
            }
        }
    })
</script>

</body>
</html>