<html xmlns:th="https://www.thymeleaf.org">
<body style="background: black; color: white">

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form id="form" method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr>
                <td>File to upload:</td><td><input type="file" name="file" required/></td>
            </tr>
            <tr>
                <td>Key to upload:</td><td><textarea name="key" id="" cols="30" rows="10" required></textarea></td><td>Delete all new-line characters from the end of entered key...</td>
            </tr>
            <tr>
                <td>
                    <select name="action">
                    <option value="encrypt-rsa">Encrypt</option>
                    <option value="decrypt-rsa">Decrypt</option>
                </select>
                </td>
                <td><input type="submit" value="Upload file and key!" /></td>
            </tr>
        </table>
    </form>
    <form method="post" id="form2" action="/generate_key">
        <h3>Don't have public and private key? Generate them!</h3>
        <input type="submit" value="Generate keys!" />
    </form>
    <div th:if="${public_key}" style="max-width: 50%">
        <span>Public key:</span><p th:text="${public_key}" style="overflow: auto">
    </div>
    <div th:if="${private_key}" style="max-width: 50%">
        <span>Private key:</span><p th:text="${private_key}" style="overflow: auto">
    </div>
    <div th:if="${private_key}">
        <form method="post" id="form3" action="/generate_file">
            <p>You can download them as .txt file as well!</p>
            <input type="hidden" id="public_key" name="public_key" th:value="${public_key}">
            <input type="hidden" id="private_key" name="private_key" th:value="${private_key}">
            <input type="submit" value="Download keys!" />
        </form>
    </div>
    <div>
        <p style="font-size: small">Don't lose generated keys, because you will never <br>get to the content of your files again... File <br>encrypted with one public key can be decrypted <br>only with sibling private key!</p>
    </div>
    <form method="post" id="form4" action="/download">
        <h3>You can download desktop application to decrypt files on the go!</h3>
        <p style="font-size: small">Run with command: java -jar filename.jar</p>
        <input type="submit" value="Download app!" />
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a style="text-decoration: none; font-size: larger; color: white;" th:href="${file}" th:text="${file.substring(file.lastIndexOf('/') + 1)}" />
        </li>
    </ul>
</div>

</body>
</html>